.headings{
  color: #ff6622;
  text-align: center;
  font-family: Secular One;
}
h2{
  color: #ff6622;
  font-family: Roboto Mono;
}
div{
  background-image: url(https://static01.nyt.com/images/2020/03/06/sports/06tahiti-surfWEB1/06tahiti-surfWEB1-videoSixteenByNineJumbo1600.jpg);
}